* {
  margin: 0;
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.navbar {
  display: flex;
  gap: 2rem;
  list-style: none;
  margin-bottom: 2rem;
}
